<nav class="navbar">
    <a href="/">
        <img class="logo-nav" src="/img/imagem_2025-04-29_111051839-removebg-preview.png" alt="AlokPet">
    </a>
    <ul>
        <li>
            <a class="itens" href="/quem-somos">Quem Somos</a>
        </li>
        <% if (typeof session !== 'undefined' && (session.userId || session.empId)) { %>
            <li>
                <a class="itens" href="/pet">Meu Pet</a>
            </li>
            <li>
                <a class="itens" href="/logout">Sair</a>
            </li>
        <% } else { %>
            <li>
                <a class="itens" href="/login">Entrar</a>
            </li>
            <li>
                <a class="itens" href="/cadastrar">Cadastrar</a>
            </li>
        <% } %>
    </ul>
</nav>
