<nav class="navbar">
    <a href="/">
        <img class="logo-nav" src="/img/imagem_2025-04-26_213428993-removebg-preview (1).png" alt="AlokPet">
    </a>
    <ul>
        <% if (typeof session !== 'undefined' && session.userId) { %>
            <li>
                <a class="itens" href="/logout">Sair</a>
            </li>
        <% } else { %>
            <li>
                <a class="itens" href="/login">Entrar</a>
            </li>
            <li>
                <a class="itens" href="/cadastrar">Cadastrar</a>
            </li>
            <li>
                <a class="itens" href="/quem-somos">Quem Somos</a>
            </li>
        <% } %>
    </ul>
</nav>
