<%- include('partials/header.ejs');%>
<body>
    <%- include('partials/navbar');%>
    <h1>Quem Somos</h1>
    <section class="quem-somos">
        <p>
            Somos uma empresa que te ajuda a cuidar do seu pet com mais resposabilidade
            e comprometimento. Oferecemos praticidade no transporte, agendamentos e auxilio diário
            aos seus donos, somos uma empresa prática e te ajudamos a conciliar sua vida pessoal
            sem deixar de lado os cuidados com o seu pet.
        </p>
        <button class="cta" onclick="window.location.href='/login'">
            Venha fazer parte você também!
        </button>
    </section>
    <section class="pets">x
        <div class="pet-photo"> 
            <img src="img/cat.png" alt="Animal_1">
        </div>
        <div class="pet-photo">
            <img src="/img/cat-dog.png" alt="Animal_2">
        </div>
        <div class="pet-photo">
            <img src="/img/dog.png" alt="Animal_3">
        </div>
    </section>
</body>
</html>