<%- include('partials/header.ejs');%>
<body>
    <%- include('partials/navbar');%>
    <h1>Obrigado por testar o nosso Sistema!</h1>
    <div class="thanks">
        <a href="/" class="backHome">Voltar para Home</a>
    </div>
</body>
</html>