body {
    margin: 0;
    padding: 0;
    background-color: #fff3df;
}

.navbar {
    font-weight: 600;
    font-size: 23px;
    background-color: #310c5b;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style: none; 
    display: flex; 
    gap: 2em; 
    margin: 0;
    padding: 0;
}

.itens {
    text-decoration: none;
    color: #FFB5A7;
    font-family: 'League Spartan', sans-serif;
    transition: color 0.3s ease;
}

.itens:hover {
    color: #ffc9be; 
}

.logo-nav {
    max-width: 300px;
    width: 100%;
    height: auto;
}

h1 {
    color: #310c5b;
    font-family: 'League Spartan', sans-serif;
    margin-left: 0.5em;
    font-size: 60px;
}
